# Runtime
ALPHA60_ENV=local
ALPHA60_LOG_LEVEL=INFO

# Shopify
ALPHA60_SHOPIFY_SHOP_DOMAIN=
ALPHA60_SHOPIFY_CLIENT_ID=
ALPHA60_SHOPIFY_CLIENT_SECRET=
ALPHA60_SHOPIFY_API_VERSION=2025-01

# BigQuery
ALPHA60_BIGQUERY_PROJECT_ID=
ALPHA60_BIGQUERY_DATASET_ID=
ALPHA60_BIGQUERY_LOCATION=australia-southeast1